#loginForm{
    position : absolute;
    left : 10%;
    top : 120px;
    width : 520px;  
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    height: 210px;
}
#loginBut{
    position: absolute;
    width : 150px;
    left : 10%;
    top : 150px;
    margin-left : -50px;
}
#regBut{
    position: absolute;
    left :8%;
    top : 180px;
    margin-left : -50px;
}
#errMessage{    
    border-radius: 4px;
    text-align: center;
    transition: 1s;
    background-color: #FFEFEF;
}
header {
    height: 40px;
    background-color: #716;
}
header p {
    position: absolute;
    color:  FFEFEF;
    font: 12px "Arial";
    left: 70%;
    top: 12px;
    color: wheat;
}
#hp0{
    margin-top: 10px;
}
#hp1{
    left: 80%;
}
h1,h4 {
    position: absolute;
    left: 10%;
    top: 30px;
}
h4{
    top: 75px;
}
footer {
    position: absolute;
    left: 10%;
    top: 330px;
}
img {
    position: absolute;
    width: 42px;
    height: 40px;
    left: 10%;
}
button ["btn-link"]{
    margin-top: 10px;
}