table {
  font-family : "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size : 14px;
  background : white;
	width: 70%;
  max-width : 90%;
  
  border-collapse : collapse;
  text-align : left;
  position : absolute;
  left : 50%;
  margin-left : -35%;
  top: 45px;
}
th {
  font-weight : normal; 
  border-bottom : 2px solid #6678b1;
  padding : 10px 8px;
  text-align : center;  
  cursor: pointer
}
td {
  color : #669;
  padding : 9px 8px;
  transition : .3s linear;
  border-bottom : 1px solid #ccc;
}
tr :hover td{
  color : #6699ff;
}
tr :nth-child(2n) {
  background : #e8edff;
}
#tabHead th{
    font:bold 20px  "Times New Roman" ;
}
#delModal{
  position: absolute;
  width: 200px;
  height: 70px;
  top:50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
    background-color: #adedea;
  border-radius: 9px;
	border:2px solid lightblue;
}
#delModal p {
  width: 100%;
  text-align:  center;
}
#delModal #mb1 {
  position: absolute;
  left: 10%;
  width: 70px;
}
#delModal #mb2{
  position: absolute;
  left: 55%;
  width: 70px;
}
header {
  width: 100%;
  height: 40px;
}
#mainHName{
  position: fixed;
  top: 15px;
  left: 60%;
  width: 35%;
  z-index: 100;
  text-align: center;
	color: wheat;
}
#mainHBut{
  position: fixed;
  top: 5px;
  left: 90%;
  z-index: 100;
}
.mainAddTask {
  position: fixed;
  left: 85%;
  top: 80%;
  z-index: 100;
}


.simple-little-table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;
	border-collapse:separate;
 
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
 
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;

  position : absolute;
  left : 50%;
  margin-left : -35%;
  top: 95px;
}
 
.simple-little-table th {
	font-weight:bold;
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
 
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.simple-little-table th:first-child{
	text-align: left;
	padding-left:20px;
}
.simple-little-table tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.simple-little-table tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.simple-little-table tr{
	text-align: center;
	padding-left:20px;
}
.simple-little-table tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
.simple-little-table tr td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
 
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.simple-little-table tr:nth-child(even) td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.simple-little-table tr:last-child td{
	border-bottom:0;
}
.simple-little-table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.simple-little-table tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.simple-little-table tr:hover th{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}
 
.simple-little-table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.simple-little-table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.simple-little-table a:active,
.simple-little-table tr:hover {
	color: #bd5a35;
	text-decoration:underline;
}
.table-responsive{	
	min-width: .01%;
	resize: horizontal;
	overflow: auto;
}
.prio{
	margin-top: 10px;
}