table {
  font-family : "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size : 14px;
  background : white;
  max-width : 70%;
  width : 70%;
  border-collapse : collapse;
  text-align : left;
  position : absolute;
  left : 50%;
  margin-left : -35%;
}
th {
  font-weight : normal; 
  border-bottom : 2px solid #6678b1;
  padding : 10px 8px;
  text-align : center;  
  cursor: pointer
}
td {
  color : #669;
  padding : 9px 8px;
  transition : .3s linear;
  border-bottom : 1px solid #ccc;
}
tr :hover td{
  color : #6699ff;
}
tr :nth-child(2n) {
  background : #e8edff;
}
#tabHead th{
    font:bold 20px  "Times New Roman" ;
}
#delModal{
  position: absolute;
  width: 200px;
  height: 60px;
  top:50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
    background-color: #FD9;
  border-radius: 9px;
}
#delModal p {
  width: 100%;
  text-align:  center;
}
#delModal #mb1 {
  position: absolute;
  left: 10%;
  width: 70px;
}
#delModal #mb2{
  position: absolute;
  left: 55%;
  width: 70px;
}
header {
  width: 100%;
  height: 40px;
}
#mainHName{
  position: fixed;
  top: 15px;
  left: 80%;
  z-index: 100;
}
#mainHBut{
  position: fixed;
  top: 10px;
  left: 90%;
  z-index: 100;
}
.mainAddTask {
  position: fixed;
  left: 85%;
  top: 80%;
  z-index: 100;
}
